* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #222930;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(231, 231, 231);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  background-color: rgb(231, 231, 231);
  width: 25px;
  height: 2px;
  margin: 4px;
  border-radius: 2px;
}

@media screen and (max-width: 1000px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-links {
    display: none;
  }
  .burger {
    display: block;
  }
}
